body {
  background-color: #EAF6F6;
  font-family: cursive;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: grey;
  width: 10%;
}

h1 {
  font-size: 30px;
  font-style: italic;
  font-family: inherit;
  color: darkcyan;
}
h2 {  font-size: 24px;
  font-style: italic;
  font-family: inherit;
  color:  darkcyan;}
h3 {
  font-size: 24px;
  font-style: italic;
  font-family: inherit;
  color:  darkcyan;
}
